<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/recoverPassword.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<div class="header">
		<div class="brand-name">
			<div class="brand-name-text">sports exchange</div>
			<div class="action-buttons">
				<a href="signup.html" class="btn-Link"><span class="link-text">Sign Up</span></a> 
				<a href="login.html" class="btn-Link"><span class="link-text">Log in</span></a>
			</div>
		</div>
	</div>
	<div class="centreDiv">
		<div class="textHeader">
			Recover your Password
		</div>
		<div class="panel-body">
			<input type="email" name="email" placeholder="Email" class="form-control" required/>
			<div class="reset-text">We will send you a link to reset your password</div>
			<div class='btn-content'><button class="btn">Send me a link</button></div>
		</div>
		
	</div>
</body>
</html>