<!DOCTYPE html>
<html>
<head>
	<title>Upcoming Events</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/upcoming-events.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<div class="header">
		<div class="brand-name">
			<div class="brand-name-text">
				sports exchange
			</div>
			<div class="image-wrapper">
				<div class="user-image">
					<img src="/home/ajitfawade/Downloads/resized.jpg" height="54" width="54" />
				</div>
			</div>
		</div>
		<div class="events-container">
			<div class="events-header">
				<div class="header-content">
					<div class="team-logo-wrapper">
						<img class="team-logo" src="/home/ajitfawade/Downloads/resized.jpg">
					</div>
					<div class="team-name-wrapper">
						<span class="team-name">
							ancient warriors
						</span>
						<br/>
						<span class="game">
							soccer
						</span>
					</div>
				</div>
				<div class="chevron-down">
					<span class="fa fa-chevron-down"></span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</body>
</html>