.btn-Link{
	text-decoration: none;
	font-size: 18px;
	font-family: Lato;
	color: #000;
	word-spacing: normal;
	background-color: #ffffff;
	display: block;
	text-align: center;
	border-radius: 3px;
	line-height: 30px;
	width: 40%;

}

.reset-text{
	font-family: Lato;
	color:  #969696;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 400;
}

.btn{
	width: 33%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 3px;
	background-color:  #17a2d4;
	font-family: Lato;
	color:  #ffffff;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 400;
}
.btn-content{
	text-align: center;
}
