body{
	margin: 0;
	padding: 0;
	font-family: Lato; /*not getting applied on whole page*/
}
.container{
	width: 100%;
}

.header{
	width: 100%;
	height: 100px;
	background-color:  #17a2d4;

}

.clear{
	clear: both;
}

.panel-header{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color:  #17a2d4;
	text-align: center;
	padding: 25px;
	text-transform: uppercase;
	font-family: Lato;
	color:  #f4f4f4;
	font-size: 30px;
	font-weight: 800;
	word-spacing: 5px;
}

.signup-title{
	font-size: 24px;
}

.brand-name{
	text-transform: uppercase;
	font-family: Lato;
	color:  #f4f4f4;
	font-size: 30px;
	font-weight: 800;
	/*display: table-cell;*/
	vertical-align: middle;
	word-spacing: 15px;
}

.brand-name .brand-name-text{
	padding: 31px;
	float: left;
}

.wrapper{
	margin: 50px auto 50px auto;
	border-radius: 3px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	width: 500px;
	height: 480px;
	display: table;
}

.panel-body{
	padding-top: 20px;
}
.form-control{
	border-radius: 3px;
	border-width: 1px;
	border-color:  #e8e8e8;
	border-style: solid;
	background-color:  #f6f6f6;
	width: 100%;
	height: 58px;
	padding-left: 15px;
	margin-bottom: 20px;
	font-family: Lato;
	font-size: 18px;
	box-sizing: border-box;
}
.btn{
	border-radius: 3px;
	background-color:  #17a2d4;
	width: 100%;
	height: 60px;
	cursor: pointer;
}
.btn-text{
	float: left;
	color: #fff;
}

.btn-icon{
	float: right;
	color: #fff;
	padding-right: 15px;
}
.socialButtons{
	border-radius: 3px;
	font-family: Lato;
	height: 60px;
	color: #fff;
	cursor: pointer;
}
.btn-facebook{
	background-color:  #3b5998;
	width: 47%;
}
.btn-google{
	background-color:  #d34836;
	width: 47%;
	float: right;
}

.link-text{
	text-decoration: none;
	cursor: pointer;
	color:  #000000;
}
.link-text:hover{
	color: #0000EE;
}

.form-text{
	color:  #000000;
	font-size: 18px;
	font-weight: 400;
	padding: 20px 0 20px 0;
}

.form-text .forgot-password-text{
	float: left;
}

.form-text .sign-up-text{
	float: right;
}


#radio-button{
	margin-right: 6px;
}

.radio-label{
	font-family: Lato;
	font-weight: 400;
	text-align: center;
}

.rdbtn{
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-width: 1px;
	border-color:  #e8e8e8;
	border-style: solid;
	background-color: #f6f6f6;
	width: 49%;
	/*height: 48px;*/
	display: inline-block;
	text-align: center;
	line-height: 56px;
	margin-bottom: 20px;
}
.coachbtn{

}

.roasterbtn{

}

input[type="radio"]{
	width: 1.4em;
	height: 1.4em;
}

input[type="radio"]:checked ~ div{
	background-color:  #17a2d4;
	color: #fff;
}

.backLink{
	margin: 50px auto 50px auto;
	color:  #000000;
	font-size: 15px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: center;
	border-bottom: 1px solid #000000;
	width: 117px;
	height: -1px;	
}

.btn-action{

	border-radius: 3px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 5.76px 0.24px rgba(0, 0, 0, 0.24);
	width: 140px;
	height: 50px;
	font-family: Lato;
	color:  #000000;
	font-size: 18px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.action-buttons{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	font-family: Lato;
}

.action-btn-text{
	font-family: Lato;
	color:  #000000;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: center;
}

.centreDiv{
	border-radius: 3px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	width: 500px;
	height: 260px;
	margin-left: 410px;
	margin-top: 150px;
	padding: 20px;
}

.textHeader{
	padding-left: 15px;
	padding-top: 30px;
	padding-right: 15px;
	font-family: Lato;
	color:  #000000;
	font-size: 24px;/* Approximation due to font substitution */
	font-weight: 400;
	text-align: center;
}

@media screen and (max-width: 980px){
	.container{
		width: 94%;
	}
}