body{
	margin: 0;
	padding: 0;
	font-family: Lato; /*not getting applied on whole page*/
}
.container{
	width: 100%;
}
.brand{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color:  #17a2d4;
	text-align: center;
	padding: 25px;
	text-transform: uppercase;
	font-family: Lato;
	color:  #f4f4f4;
	font-size: 30px;
	font-weight: 800;
	word-spacing: 15px;
}
.brand-name{
	text-transform: uppercase;
	font-family: Lato;
	color:  #f4f4f4;
	font-size: 30px;
	font-weight: 800;
	display: table-cell;
	vertical-align: middle;
	word-spacing: 15px;
}

.login-wrapper{
	margin: 50px auto 50px auto;
	border-radius: 3px;
	background-color:  #ffffff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	width: 500px;
	height: 480px;
	display: table;
}

.login-body{
	padding: 20px;
}
.form-control{
	border-radius: 3px;
	border-width: 1px;
	border-color:  #e8e8e8;
	border-style: solid;
	background-color:  #f6f6f6;
	width: 100%;
	height: 58px;
	padding-left: 15px;
	margin-bottom: 20px;
	font-family: Lato;
	font-size: 18px;
}
.btn{
	border-radius: 3px;
	background-color:  #17a2d4;
	width: 100%;
	height: 60px;
	cursor: pointer;
}
.btn-text{
	float: left;
	color: #fff;
}

.btn-icon{
	float: right;
	color: #fff;
	padding-right: 15px;
}
.socialButtons{
	border-radius: 3px;
	font-family: Lato;
	height: 60px;
	color: #fff;
	cursor: pointer;
}
.btn-facebook{
	background-color:  #3b5998;
	width: 47%;
}
.btn-google{
	background-color:  #d34836;
	width: 47%;
	float: right;
}

.link-text{
	text-decoration: none;
	cursor: pointer;
	color:  #000000;
}
.link-text:hover{
	color: #0000EE;
}

.form-text{
	color:  #000000;
	font-size: 18px;
	font-weight: 400;
	padding: 20px 0 20px 0;
}

.form-text .forgot-password-text{
	float: left;
}

.form-text .sign-up-text{
	float: right;
}


@media screen and (max-width: 980px){
	.container{
		width: 94%;
	}
}